html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; -webkit-appearance: none; border-radius: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: Museo-Sans-900; src: url("fonts/MuseoSansCyrl900.eot"); src: url("fonts/MuseoSansCyrl900.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansCyrl900.woff") format("woff"), url("fonts/MuseoSansCyrl900.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Helvetica-Neue-Medium; src: url("fonts/HelveticaNeueCyr-Medium.eot"); src: url("fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Helvetica-Neue; src: url("fonts/HelveticaNeue.eot"); src: url("fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue.woff") format("woff"), url("fonts/HelveticaNeue.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Helvetica-Neue-Bold; src: url("fonts/HelveticaNeueCyr-Bold.eot"); src: url("fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { position: relative; font-family: Arial, sans-serif; font-size: 15px; line-height: 1.4; background: #e2e2e2; }
body.is-open-popup { position: relative; overflow: hidden; }
body.is-open-popup .popup { display: block; }

.out .out__bg { margin: 0 auto; display: block; }

.header-popup { position: fixed; left: 0; top: 0; width: 100%; padding: 0 45px 0 30px; height: 57px; background-color: #ececec; text-align: center; z-index: 103; border-bottom: 1px solid lightgray; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header-popup:after { content: " "; display: table; clear: both; }
.header-popup .logo { float: left; margin-top: 17px; color: #a3a3a3; font-size: 26px; line-height: 1; text-transform: uppercase; text-decoration: none; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; font-family: "Museo-Sans-900", Arial, sans-serif; background: url('../img/icons-s0f702887f1.png') 0 -171px no-repeat; width: 158px; height: 19px; }
.header-popup .logo:hover { color: #8a8a8a; }
.header-popup .share { margin-top: 11px; height: 34px; line-height: 34px; font-size: 0; }
.header-popup .share__item { margin: 7px 0 0 27px; height: 20px; line-height: 20px; font-size: 14px; color: #989898; cursor: pointer; }
.header-popup .share__item:hover { color: #7f7f7f; }
.header-popup .share__item:hover .ico_like { background: url('../img/icons-s0f702887f1.png') 0 -72px no-repeat; }
.header-popup .share__item:hover .ico_tell { background: url('../img/icons-s0f702887f1.png') 0 -350px no-repeat; width: 18px; height: 17px; }
.header-popup .share, .header-popup .share__item { vertical-align: top; }
.header-popup .ico, .header-popup .share__item span { vertical-align: middle; }
.header-popup .share, .header-popup .share__item, .header-popup .share__item span { display: inline-block; }
.header-popup .share__btn { padding: 0 25px; height: 34px; color: white; font-size: 15px; line-height: 32px; -moz-border-radius: 17px; -webkit-border-radius: 17px; border-radius: 17px; background-color: #989898; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; font-family: "Helvetica-Neue", Arial, sans-serif; }
.header-popup .share__btn:hover { background-color: #eb250a; }
.header-popup .dropdown { float: right; width: 120px; }

.dropdown { position: relative; margin-top: 20px; padding-right: 5px; height: 15px; color: #989898; line-height: 15px; text-align: right; cursor: pointer; font-size: 13px; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.dropdown:hover { color: #7f7f7f; }
.dropdown.is-active .dropdown__list { opacity: 1; visibility: visible; }
.dropdown .dropdown__list { position: absolute; left: 0; right: 0; top: 100%; margin-top: 15px; visibility: hidden; opacity: 0; z-index: 100; text-align: left; border: 1px solid #bababa; background: #fafafa; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 3px 9px rgba(2, 2, 2, 0.21); -webkit-box-shadow: 0 3px 9px rgba(2, 2, 2, 0.21); box-shadow: 0 3px 9px rgba(2, 2, 2, 0.21); }
.dropdown .dropdown__list:before { position: absolute; content: ""; top: -10px; right: 20px; background: url('../img/icons-s0f702887f1.png') 0 0 no-repeat; width: 16px; height: 10px; }
.dropdown .dropdown__list li { padding: 10px 15px; cursor: pointer; line-height: 1; font-size: 12px; color: #666666; *zoom: 1; }
.dropdown .dropdown__list li:after { content: " "; display: table; clear: both; }
.dropdown .dropdown__list li:hover { background: #eeeeee; }
.dropdown .dropdown__list span { float: right; }

.ico { display: inline-block; }
.ico.ico_like { background: url('../img/icons-s0f702887f1.png') 0 -97px no-repeat; width: 15px; height: 16px; }
.ico.ico_like:hover { background: url('../img/icons-s0f702887f1.png') 0 -72px no-repeat; }
.ico.ico_tell { background: url('../img/icons-s0f702887f1.png') 0 -377px no-repeat; width: 18px; height: 17px; }
.ico.ico_tell:hover { background: url('../img/icons-s0f702887f1.png') 0 -350px no-repeat; width: 18px; height: 17px; }
.ico.ico_address { background: url('../img/icons-s0f702887f1.png') 0 -46px no-repeat; width: 12px; height: 16px; }

.popup { position: fixed; top: 0; left: 0; bottom: 0; padding: 115px 0 0; width: 100%; z-index: 10; overflow: auto; background-color: rgba(236, 236, 236, 0.94); display: none; }
.popup p { margin-bottom: 14px; line-height: 1.5; font-size: 16px; font-family: "Helvetica-Neue", Arial, sans-serif; }
.popup a { color: #ee2909; }
.popup a:hover { text-decoration: none; }
.popup .popup__container { position: absolute; top: 57px; left: 0; right: 0; bottom: 0; padding-top: 60px; overflow: auto; }
.popup .popup__wrap { margin: 0 auto 115px; width: 702px; color: #272727; background: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.popup .popup__field { padding: 28px; }
.popup .user_top { margin-bottom: 18px; }
.popup .popup__row { margin: 20px 0 5px; *zoom: 1; }
.popup .popup__row:after { content: " "; display: table; clear: both; }
.popup .popup__address { position: relative; float: left; margin-top: 7px; padding-left: 18px; max-width: 500px; color: #7e7e7e; font-size: 14px; text-decoration: none; }
.popup .popup__address:hover { color: #ee2909; }
.popup .popup__address:hover .ico_address { background: url('../img/icons-s0f702887f1.png') 0 -20px no-repeat; width: 12px; height: 16px; }
.popup .popup__address .ico { position: absolute; top: 1px; left: 0; }
.popup .popup__form { border-top: 1px solid #dfdfdf; *zoom: 1; }
.popup .popup__form:after { content: " "; display: table; clear: both; }
.popup .popup__form .comment__img { float: left; }
.popup .popup__form .comments__field { float: right; }

.help { float: right; font-size: 0; }
.help .help__btn { margin-left: 7px; padding: 0 16px; height: 33px; color: #7f7f7f; font-size: 14px; line-height: 33px; -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; background-color: #ececec; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.help .help__btn:first-child { margin-left: 0; }
.help .help__btn:hover { background-color: #e3e3e3; color: #393939; }
.help .help__btn:hover .ico_like { background: url('../img/icons-s0f702887f1.png') 0 -72px no-repeat; }
.help .help__btn_like { padding: 0; width: 33px; }
.help .help__btn_like .ico { vertical-align: middle; }

.user, .comment__top { font-size: 0; height: 50px; line-height: 50px; }
.user .user__img img, .user .comment__img img, .comment__top .user__img img, .comment__top .comment__img img { display: block; }
.user .user__name, .comment__top .user__name { color: #272727; font-size: 14px; text-decoration: none; font-family: "Helvetica-Neue-Bold", Arial, sans-serif; }
.user .user__name:hover, .comment__top .user__name:hover { text-decoration: underline; }
.user .user__img, .user .user__name, .user .date, .user .user__name, .user .comment__img, .comment__top .user__img, .comment__top .user__name, .comment__top .date, .comment__top .user__name, .comment__top .comment__img { line-height: 1; vertical-align: middle; display: inline-block; }
.user .user__name, .user .date, .comment__top .user__name, .comment__top .date { margin-left: 15px; }

.date { color: #c1c1c1; font-size: 13px; display: inline-block; font-family: "Helvetica-Neue", Arial, sans-serif; }

.slider { height: 407px; overflow: hidden; }
.slider .slider__btn { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 101; }
.slider .slider__prev, .slider .slider__next { position: absolute; top: 0; width: 50%; height: 100%; background: none; }
.slider .slider__prev { left: 0; }
.slider .slider__next { right: 0; }
.slider .slider__pager { position: absolute; left: 0; bottom: 17px; height: 12px; width: 100%; text-align: center; z-index: 102; }
.slider .slider__pager button { margin-left: 11px; height: 12px; width: 12px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: white; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slider .slider__pager button:first-child { margin-left: 0; }
.slider .slider__pager button.cycle-pager-active { border: 1px solid #db0401; background: none; }

.comments { background-color: #f8f8f8; *zoom: 1; }
.comments:after { content: " "; display: table; clear: both; }
.comments .comments__amount { margin-bottom: 25px; color: #343434; font-weight: bold; }
.comments .comment { margin-top: 25px; }
.comments .is-active .date:before { display: block; }
.comments .date { position: relative; }
.comments .date:before { position: absolute; content: ""; right: -23px; top: 50%; margin-top: -4px; height: 7px; width: 7px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #6ed016; display: none; }
.comments .comment__top { height: 32px; line-height: 32px; *zoom: 1; }
.comments .comment__top:after { content: " "; display: table; clear: both; }
.comments .comment__user { float: left; }
.comments .comment__recall { position: relative; float: right; padding-left: 68px; height: 22px; font-size: 13px; color: #575757; font-family: "Helvetica-Neue-Bold", Arial, sans-serif; }
.comments .comment__recall span { top: 0; right: 0; line-height: 1.5; position: absolute; }
.comments .comment__like, .comments .comment__not-like { position: absolute; top: 50%; margin-top: -7px; margin-right: 18px; }
.comments .comment__like { left: 0; background: url('../img/icons-s0f702887f1.png') 0 -147px no-repeat; width: 11px; height: 14px; }
.comments .comment__like:hover { background: url('../img/icons-s0f702887f1.png') 0 -123px no-repeat; width: 11px; height: 14px; }
.comments .comment__like:active { margin-top: -8px; }
.comments .comment__not-like { left: 29px; background: url('../img/icons-s0f702887f1.png') 0 -275px no-repeat; width: 11px; height: 14px; }
.comments .comment__not-like:hover { background: url('../img/icons-s0f702887f1.png') 0 -250px no-repeat; width: 12px; height: 15px; }
.comments .comment__not-like:active { background: url('../img/icons-s0f702887f1.png') 0 -226px no-repeat; width: 11px; height: 14px; }
.comments .user__name { font-size: 13px; }
.comments .comment__text { margin-top: 10px; font-size: 14px; font-family: "Helvetica-Neue", Arial, sans-serif; *zoom: 1; }
.comments .comment__text:after { content: " "; display: table; clear: both; }
.comments .comment__item { position: relative; margin-top: 25px; padding-left: 30px; }
.comments .comment__item:before { position: absolute; content: ""; top: 12px; left: 0; height: 4px; width: 4px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #c1c1c1; }
.comments .comment__item .comment__top { height: 22px; line-height: 22px; }
.comments .user__name_author { color: #d74646; }
.comments .comment__wrap.is-disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.comments .comments__field { width: 594px; }
.comments .comments__area { position: relative; }
.comments .comments__area textarea { padding: 10px 6px; height: 82px; width: 100%; font-size: 13px; color: black; border: 1px solid #dadada; display: block; resize: none; font-family: Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.comments .comments__area textarea:-moz-placeholder, .comments .comments__area textarea::-moz-placeholder { color: #a3a3a3; opacity: 1; }
.comments .comments__area textarea::-webkit-input-placeholder { color: #a3a3a3; }
.comments .comments__smile { position: absolute; top: 6px; right: 8px; background: url('../img/icons-s0f702887f1.png') 0 -323px no-repeat; width: 17px; height: 17px; }
.comments .comments__smile:hover { background: url('../img/icons-s0f702887f1.png') 0 -677px no-repeat; width: 17px; height: 17px; }
.comments .comments__row { margin-top: 13px; *zoom: 1; }
.comments .comments__row:after { content: " "; display: table; clear: both; }
.comments .comments__btn { position: relative; float: left; padding: 0 15px; height: 34px; color: white; font-size: 12px; line-height: 34px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: #424242; -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25); -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.comments .comments__btn:hover { background-color: rgba(66, 66, 66, 0.9); }
.comments .comments__btn:active { top: -1px; }
.comments .add-photo { position: relative; float: right; margin-top: 8px; padding-left: 28px; color: #999999; font-size: 13px; text-decoration: none; }
.comments .add-photo:hover { color: #ec2d0e; }
.comments .add-photo:hover:before { background: url('../img/icons-s0f702887f1.png') 0 -653px no-repeat; width: 18px; height: 14px; }
.comments .add-photo:before { position: absolute; content: ""; top: 1px; left: 0; background: url('../img/icons-s0f702887f1.png') 0 -299px no-repeat; width: 18px; height: 14px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
