// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


+font(Museo-Sans-900, MuseoSansCyrl900)  
=ms900
	font-family: "Museo-Sans-900", Arial, sans-serif 

+font(Helvetica-Neue-Medium, HelveticaNeueCyr-Medium)  
=hnm
	font-family: "Helvetica-Neue-Medium", Arial, sans-serif

+font(Helvetica-Neue, HelveticaNeue)  
=hn
	font-family: "Helvetica-Neue", Arial, sans-serif

+font(Helvetica-Neue-Bold, HelveticaNeueCyr-Bold)  
=hnb
	font-family: "Helvetica-Neue-Bold", Arial, sans-serif

body
	position: relative
	font-family: Arial, sans-serif 
	font-size: 15px 
	line-height: 1.4
	background: #e2e2e2
	&.is-open-popup
		position: relative
		overflow: hidden
		.popup
			display: block


// common blocks      

//out
.out
	.out__bg
		margin: 0 auto
		display: block

//header-popup
.header-popup
	position: fixed
	left: 0
	top: 0
	width: 100%
	padding: 0 45px 0 30px
	height: 57px
	background-color: #ececec
	text-align: center
	z-index: 103
	border-bottom: 1px solid #d3d3d3
	+box-shadow(0 1px 2px rgba(0,0,0,.06))
	+clr
	+box
	.logo
		float: left
		margin-top: 17px
		color: #a3a3a3
		font-size: 26px
		line-height: 1
		text-transform: uppercase
		text-decoration: none
		+transition(all 0.1s linear)
		+ms900
		+s(ico_logo)
		&:hover
			color: darken(#a3a3a3, 10)
	.share
		margin-top: 11px
		height: 34px
		line-height: 34px
		font-size: 0
	.share__item
		margin: 7px 0 0 27px
		height: 20px
		line-height: 20px
		font-size: 14px
		color: #989898
		cursor: pointer
		&:hover
			color: #7f7f7f
			.ico_like
				+si(ico_like-hover)
			.ico_tell
				+s(ico_tell-hover)
	.share, .share__item
		vertical-align: top
	.ico, .share__item span
		vertical-align: middle
	.share, .share__item, .share__item span
		display: inline-block
	.share__btn
		padding: 0 25px
		height: 34px
		color: #fff
		font-size: 15px
		line-height: 32px
		+border-radius(17px)
		background-color: #989898
		+transition(all 0.1s linear)
		+hn
		&:hover
			background-color: #eb250a
	.dropdown
		float: right
		width: 120px

//dropdown
.dropdown
	position: relative
	margin-top: 20px
	padding-right: 5px
	height: 15px
	color: #989898
	line-height: 15px
	text-align: right
	cursor: pointer
	font-size: 13px
	+transition(all 0.1s linear)
	&:hover
		color: #7f7f7f
	&.is-active
		.dropdown__list
			opacity: 1
			visibility: visible
	.dropdown__list
		position: absolute
		left: 0
		right: 0
		top: 100%
		margin-top: 15px
		visibility: hidden
		opacity: 0
		z-index: 100
		text-align: left
		border: 1px solid #bababa
		background: #fafafa
		+transition(all 0.2s linear)
		+border-radius(3px)
		+box-shadow(0 3px 9px rgba(2,2,2,.21))
		&:before
			position: absolute
			content: ''
			top: -10px
			right: 20px 
			+s(arr-top)
		li
			padding: 10px 15px 
			cursor: pointer
			line-height: 1
			font-size: 12px
			color: #666
			+clr
			&:hover
				background: #eee
		span
			float: right

//ico
.ico
	display: inline-block
	&.ico_like
		+s(ico_like)
		&:hover
			+si(ico_like-hover)
	&.ico_tell
		+s(ico_tell)
		&:hover
			+s(ico_tell-hover)
	&.ico_address
		+s(ico_address)


//popup
.popup
	position: fixed
	top: 0
	left: 0
	bottom: 0
	padding: 115px 0 0
	width: 100%
	z-index: 10
	overflow: auto
	background-color: rgba(#ececec, 0.94)
	display: none
	p
		margin-bottom: 14px
		line-height: 1.5
		font-size: 16px
		+hn
	a
		color: #ee2909
		&:hover
			text-decoration: none
	.popup__container
		position: absolute
		top: 57px
		left: 0
		right: 0
		bottom: 0
		padding-top: 60px
		overflow: auto
	.popup__wrap
		margin: 0 auto 115px
		width: 702px
		color: #272727
		background: #fff
		+box
	.popup__field
		padding: 28px
	.user_top
		margin-bottom: 18px
	.popup__row
		margin: 20px 0 5px
		+clr
	.popup__address
		position: relative
		float: left
		margin-top: 7px
		padding-left: 18px
		max-width: 500px
		color: #7e7e7e
		font-size: 14px
		text-decoration: none
		&:hover
			color: #ee2909
			.ico_address
				+s(ico_address-hover)
		.ico 
			position: absolute
			top: 1px
			left: 0
	.popup__form
		border-top: 1px solid #dfdfdf
		+clr
		.comment__img
			float: left
		.comments__field
			float: right
//help
.help
	float: right
	font-size: 0
	.help__btn
		margin-left: 7px
		padding: 0 16px
		height: 33px
		color: #7f7f7f
		font-size: 14px
		line-height: 33px
		+border-radius(16px)
		background-color: #ececec
		display: inline-block
		+box
		&:first-child
			margin-left: 0
		&:hover
			background-color: #e3e3e3
			color: #393939
			.ico_like
				+si(ico_like-hover)
	.help__btn_like
		padding: 0
		width: 33px
		.ico
			vertical-align: middle

//user
.user, .comment__top
	font-size: 0
	height: 50px
	line-height: 50px
	.user__img, .comment__img
		img
			display: block
	.user__name
		color: #272727
		font-size: 14px
		text-decoration: none
		+hnb
		&:hover
			text-decoration: underline
	.user__img, .user__name, .date, .user__name, .comment__img
		line-height: 1
		vertical-align: middle
		display: inline-block
	.user__name, .date
		margin-left: 15px

//date
.date
	color: #c1c1c1
	font-size: 13px
	display: inline-block
	+hn

//slider
.slider
	height: 407px
	overflow: hidden
	.slider__btn
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 101
	.slider__prev, .slider__next
		position: absolute
		top: 0
		width: 50%
		height: 100%
		background: none
	.slider__prev
		left: 0
	.slider__next
		right: 0
	.slider__pager
		position: absolute
		left: 0
		bottom: 17px
		height: 12px
		width: 100%
		text-align: center
		z-index: 102
		button
			margin-left: 11px
			height: 12px
			width: 12px
			+border-radius(50%)
			background-color: #fff
			display: inline-block
			vertical-align: top
			+box
			&:first-child
				margin-left: 0
			&.cycle-pager-active
				border: 1px solid #db0401
				background: none

//comments
.comments
	background-color: #f8f8f8
	+clr
	.comments__amount
		margin-bottom: 25px
		color: #343434
		font-weight: bold
	.comment
		margin-top: 25px
	.is-active
		.date
			&:before
				display: block
	.date
		position: relative
		&:before
			position: absolute
			content: ''
			right: -23px
			top: 50%
			margin-top: -4px
			height: 7px
			width: 7px
			+border-radius(50%)
			background-color: #6ed016
			display: none
	.comment__top
		height: 32px
		line-height: 32px
		+clr
	.comment__user
		float: left
	.comment__recall
		position: relative
		float: right
		padding-left: 68px
		height: 22px
		font-size: 13px
		color: #575757
		+hnb
		span
			top: 0
			right: 0
			line-height: 1.5
			position: absolute

	.comment__like, .comment__not-like
		position: absolute
		top: 50%
		margin-top: -7px
		margin-right: 18px
	.comment__like
		left: 0
		+s(ico_liked)
		&:hover
			+s(ico_liked-hover)
		&:active
			margin-top: -8px
	.comment__not-like
		left: 29px
		+s(ico_not-like)
		&:hover
			+s(ico_not-like-hover)
		&:active
			+s(ico_not-like-active)
	.user__name
		font-size: 13px
	.comment__text
		margin-top: 10px
		font-size: 14px
		+hn
		+clr
	.comment__item
		position: relative
		margin-top: 25px
		padding-left: 30px
		&:before
			position: absolute
			content: ''
			top: 12px
			left: 0
			height: 4px
			width: 4px
			+border-radius(50%)
			background-color: #c1c1c1
		.comment__top
			height: 22px
			line-height: 22px
		// .comment__text
		// 	margin-top: 5px
	.user__name_author
		color: #d74646
	.comment__wrap
		&.is-disabled
			+opacity(0.6)
	.comments__field
		width: 594px
	.comments__area
		position: relative
		textarea
			padding: 10px 6px
			height: 82px
			width: 100%
			font-size: 13px
			color: #000
			border: 1px solid #dadada
			display: block
			resize: none
			font-family: Arial, sans-serif 
			+box
			+placeholder-color(#a3a3a3)
	.comments__smile
		position: absolute
		top: 6px
		right: 8px
		+s(ico_smile)
		&:hover
			+s(smile-hover)
	.comments__row
		margin-top: 13px
		+clr
	.comments__btn
		position: relative
		float: left
		padding: 0 15px
		height: 34px
		color: #fff
		font-size: 12px
		line-height: 34px
		+border-radius(3px)
		background-color: #424242
		+box-shadow(inset 0 0 0 1px rgba(0,0,0,.25))
		+transition(all 0.1s linear)
		&:hover
			background-color: rgba(#424242, 0.9)
		&:active
			top: -1px
	.add-photo
		position: relative
		float: right
		margin-top: 8px
		padding-left: 28px
		color: #999999
		font-size: 13px
		text-decoration: none
		&:hover
			color: #ec2d0e
			&:before
				+s(photo-hover)
		&:before
			position: absolute
			content: ''
			top: 1px
			left: 0
			+s(ico_photo)
